{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

<a href="index.html" class="link-back">Back</a>

      <form>

    <fieldset class="inline">

      <legend>
        <h1 class="heading-xlarge">
Have you lived outside of the UK in the past 12 months?
        </h1>


      </legend>

    <div class="form-group">
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
    </div>

      <a class="button button-next" href="page2.html" role="button">Save and continue</a>


    </fieldset>
  </div>
</form>
    </div>
  </div>
</main>

{% endblock %}
