{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


          <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
              Application complete
            </h1>
            <p class="font-large">
              Thankyou for completing this form <br>
            </p>
          </div>

<h1 class="heading-medium">Here is what your feedback will help us achieve... </h1>

      <ul class="list list-bullet">
        <li>Make Alex a better dev</li>
        <li>Make Alex realise he has gone to the dark side</li>
        <li>and make Alex reminisce about his past design life </li>
      </ul>


      <a class="button button-start" href="index.html" role="button">Home</a>
  </div>
</main>

{% endblock %}
